<div class="col-12 container">


  <div class="budget border">
    <app-budget #appbudget></app-budget>
  </div>

  <div class="row header">

    <div class="col-4 mr-4">
      <button class="btn btn-secondary" (click)="emitExpenseModal()">NEW TRANSACTION</button>
    </div>

    <div>
      <app-expense-modal *ngIf="modal"
        (closeModal)="emitExpenseModal(); appbudget._getBudget(); appitemized._getExpenses()"></app-expense-modal>

    </div>

    <div>
      <div class=" form-group form-style">
        <select class="form-control" placeholder="Itemized">
          <option>Itemized</option>
        </select>
      </div>
    </div>

  </div>
  <div class="data-content">
    <app-itemized #appitemized (expenseDeleted)="appbudget._getBudget()"></app-itemized>

  </div>
</div>
