.budget {
  grid-column: 1 / 4;
  grid-row: 1 / 12;
}

.expense {
  grid-column: 4 / 12;
  grid-row: 1 / 4;
}

.chart {
  grid-column: 4 / 12;
  grid-row: 4 / 12;
}

.border {
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;

}

.container {
  width: 100%;
  height: 100%;
  padding: 30px 80px 10px 80px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);

}

