<div class="expense">
  <div>
    <h5 class="expense-header">BUDGET</h5>
    <hr>
  </div>
  <div>
    <h6 class="expense-header">Week</h6>
    <hr>
    <div class="line-item">
      <p>Income</p>
      <p>{{ budgetSummary?.Income || "0" | currency }}</p>
    </div>
    <div class="line-item">
      <p>Bills</p>
      <p>{{ budgetSummary?.Bill || "0" | currency}}</p>
    </div>
    <div class="line-item">
      <p>Subscriptions</p>
      <p>{{ budgetSummary?.Subscription || "0" | currency }}</p>
    </div>
    <div class="line-item">
      <p>Savings/Retirement</p>
      <p>{{ budgetSummary?.Savings || "0" | currency}}</p>
    </div>
    <div class="line-item">
      <p>Next Month Daily</p>
      <p>{{ perDiem | currency }}</p>
    </div>
  </div>
  <div>
    <h6 class="expense-header">Month</h6>
    <hr>
    <div class="line-item">
      <p>Total</p>
      <p>{{  budget?.total | currency }}</p>
    </div>
    <div class="line-item">
      <p>Spent Per Day</p>
      <p>{{ budget?.perDay | currency }}</p>
    </div>
    <div class="line-item">
      <p>Left Per Day</p>
      <p>{{ budget?.leftPerDay | currency }}</p>
    </div>
    <div class="line-item">
      <p>Saved</p>
      <p>{{ budget?.saved | currency }}</p>
    </div>
    <h6 class="expense-header">Year</h6>
    <hr>
    <div class="line-item">
      <p>Saved</p>
      <p>{{ saved | currency }}</p>
    </div>
  </div>
</div>
