<div class="expense">
  <div>
    <h5 class="expense-header">EXPENSES</h5>
    <hr>
  </div>
  <div>
    <h6 class="expense-header">Week</h6>
    <hr>
    <div class="line-item">
      <p>Total</p>
      <p>$543.14</p>
    </div>
    <div class="line-item">
      <p>Spent Per Day</p>
      <p>$5.14</p>
    </div>
    <div class="line-item">
      <p>Left Per Day</p>
      <p>$5.14</p>
    </div>
    <div class="line-item">
      <p>Saved</p>
      <p>$5.14</p>
    </div>
  </div>
  <div>
    <h6 class="expense-header">Month</h6>
    <hr>
    <div class="line-item">
      <p>Total</p>
      <p>$543.14</p>
    </div>
    <div class="line-item">
      <p>Spent Per Day</p>
      <p>$5.14</p>
    </div>
    <div class="line-item">
      <p>Left Per Day</p>
      <p>$5.14</p>
    </div>
    <div class="line-item">
      <p>Saved</p>
      <p>$5.14</p>
    </div>
  </div>
</div>