/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  padding: 0;
}

.form-label {
  font-size: 14px;
}
